/* begin default css */

html,
body {
    height: 100%;
    background: white;
    min-width: 500px;
}

.navbar-item,
.navbar-link {
    color: white !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: white !important;
}

.divider {
    font-size: 28px;
    display: flex;
    margin: 0 10px 0 10px;
    color: white;
}

.navbar-item,
.navbar-link {
    color: white !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: white !important;
}

.divider {
    font-size: 28px;
    display: flex;
    margin: 0 10px 0 10px;
    color: white;
}

hr {
    background-color: #dbdbdb !important;
    margin: 0 !important;
}

thead tr {
    font-size: .9rem !important;
}

tbody tr {
    font-size: .95rem !important;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.table-grid-main .fas {
    font-size: 1.5rem;
}

#error {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#success {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.loading {
    /* creates a "loading" splash that covers the entire page until it's hidden.
        to implement, put this script at the top in the <header> of the page:
        <script type="text/javascript">
            $(window).on('load', function(){
                $('.loading').fadeOut();
            });
        </script>
        ensure the jquery.min.js script loads -before- this code
        and on the page (right after the <body> tag) put:
        <div class="loading"></div>

        this is generally only useful if the page takes a while to load
    */
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff url(/staffmanager/Preloader_2.gif) no-repeat center center;
    z-index: 9999;
}

.navbar:not(.is-transparent) {
    background-image: unset !important;
}

.modal-card-head {
    background: #2657a5 !important;
    padding: 10px !important;
    color: white !important;
}

.modal-card-title {
    color: white !important;
    font-size: 1.1rem !important;
}

.modal-card-foot {
    padding: 10px !important;
}

.navbar:not(.is-transparent).is-blue {
    background-color: #2657a5 !important;
    color: white !important;
}

.navbar-item a {
    color: white !important;
}

.navbar-item {
    background-color: #2657a5 !important;
}

.navbar-item:hover {
    background-color: #2657a5 !important;
}

.notification.is-danger {
    background-color: #c71c22 !important;
    color: white !important;
}

.fa-chevron-down {
    transition-property: all;
    transition-delay: .2s;
    transition-duration: 300ms;
}

.fa-chevron-up {
    transition-property: all;
    transition-delay: .2s;
    transition-duration: 300ms;
}

.hidden {
    display: none;
}

.box {
    margin-bottom: 1.5rem !important;
}

.is-blue {
    color: #2657a5;
}

.is-forestgreen {
    color: forestgreen;
}

.button.is-blue.is-outlined {
    background-color: transparent;
    border-color: #2657a5;
    color: #2657a5;
}

.button.is-blue {
    background-color: #2657a5;
    border-color: transparent;
    color: #fff;
}

.button.is-red {
    background-color: #c71c22 !important;
    border-color: transparent;
    color: #fff;
}

.button.is-blue.is-outlined:focus,
.button.is-blue.is-outlined:hover {
    background-color: #2657a5;
    border-color: #2657a5;
    color: #fff;
}

.button.is-forestgreen.is-outlined {
    background-color: transparent;
    border-color: forestgreen;
    color: forestgreen;
}

.button.is-forestgreen {
    background-color: forestgreen;
    border-color: transparent;
    color: #fff;
}

.button.is-forestgreen.is-outlined:focus,
.button.is-forestgreen.is-outlined:hover {
    background-color: forestgreen;
    border-color: forestgreen;
    color: #fff;
}

.hide-icon {
    margin-right: 10px;
}

.bread {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.breadcrumb li.is-active a {
    color: forestgreen !important;
}

.underline {
    text-decoration: underline !important;
}

.breadcrumb li:not(is-active) a:hover {
    text-decoration: underline;
}

.tile {
    font-size: .9rem !important;
}

.tile .title {
    font-size: 1.1rem !important;
}

.title {
    color: #363636;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle {
    color: #7a7a7a;
    margin-top: -4rem;
}

.active-alerts {
    position: fixed;
    top: 50px;
    width: 100%;
}

.is-sticky {
    position: sticky;
    top: 52px;
    width: 100%;
    z-index: 29;
}

.level-header {
    background: #f5f5f5 !important;
    padding: 0.6rem !important;
    border-bottom: 2px solid #dbdbdb;
}

.has-text-center {
    text-align: center;
}

#outages_holder {
    background: white;
    position: relative;
    min-height: 50px;
}

#pbi_holder,
#closed_holder,
#week_closed_holder {
    position: relative;
}

#closed_holder,
#week_closed_holder {
    display: none;
}

.is-below-title {
    margin-top: 84px;
}

.inc-header-fixed {
    position: fixed;
    top: 101px;
    width: 100%;
}

.border-top-blue {
    border-top: 3px solid #2657a5;
}

.show {
    margin-top: 15px;
}

.notes-hider {
    max-height: 120px;
    overflow: auto;
    margin-right: 15px !important;
}

.loading-container {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    color: #000000;
    background: #fff;
    z-index: 28;
    opacity: 0.5;
}

.shadow {
    -webkit-box-shadow: 0 2px 5px -10px #999;
    -moz-box-shadow: 0 2px 5px -10px #999;
    box-shadow: 2px 5px 10px #999;
}

.draggable {
    width: inherit;
    padding: 5px;
    background-color: #2657a5;
    color: white;
    margin: 3px;
    font-size: 0.8em;
}

.draggable:hover {
    cursor: grab;
}

.no-outages-found {
    opacity: 0.7;
    margin: 0 auto;
    padding: 1rem;
}

.loader {
    display: grid;
    grid-template-columns: 10% 15%;
    padding: 1rem;
    opacity: 0.7;
    justify-content: center;
    margin: 0 auto;
    width: 35%;
}

.no-outages-found .fas {
    font-size: 30px;
}

.align-center {
    align-self: center;
}

.hiding {
    cursor: pointer;
    background: #2657a5;
    color: white;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    padding: 5px;
}

.notification.is-danger {
    background-color: #c71c22 !important;
    color: white !important;
}

.is-ping-green {
    color: cornflowerblue;
    align-items: center;
    display: grid;
    justify-items: center;
}

.is-ping-red {
    color: #c71c22;
    align-items: center;
    display: grid;
    justify-items: center;
}

.is-ping-gray {
    color: lightgrey;
    align-items: center;
    display: grid;
    justify-items: center;
}

.is-status-ok {
    color: white;
    background: forestgreen;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2em;
}

.is-status-notice {
    color: black;
    background: gold;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2em;
}

.is-status-warning {
    color: white;
    background: orange;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2em;
}

.is-status-critical {
    color: white;
    background: crimson;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2em;
}

.is-status-unknown {
    color: black;
    background: white;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2em;
}

.is-critical {
    background-color: crimson;
    color: white
}

.is-ok {
    background-color: forestgreen;
    color: white;
}

.is-notice {
    background-color: gold;
    color: black;
}

.is-warning {
    background-color: orange !important;
    color: black;
}

.tag:not(body).is-blue {
    background-color: #2657a5;
    color: #fff;
}

.tag:not(body).is-low {
    background-color: gray;
    color: #fff;
}

.tag:not(body).is-corporate {
    background-color: darkmagenta;
    color: #fff;
}

.tag:not(body).is-lakes {
    background-color: cornflowerblue;
    color: #fff;
}

.tag:not(body).is-coastal {
    background-color: burlywood;
    color: black;
}

.tag:not(body).is-lincoln {
    background-color: seagreen;
    color: #fff;
}

.has-padding .tag {
    display: grid;
}

.pad-left-right {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.top-button {
    position: absolute;
    right: 38.5%;
    top: 50px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    display: none;
    z-index: 100;
    cursor: pointer;
}

.table-grid-header {
    display: grid;
    grid-template-columns: 4% 7% 5% 41% 10% 7% 10% 10% 6%;
    font-size: .85rem;
    font-weight: bold;
    background: #f5f5f5;
    padding: 2px 0px 2px 0px;
}

.table-grid-header-alt {
    display: grid;
    grid-template-columns: 12% 55% 10% 7% 10% 6%;
    font-size: .85rem;
    font-weight: bold;
    background: #f5f5f5;
    padding: 2px 0px 2px 0px;
}

.table-grid-header-pbi {
    display: grid;
    grid-template-columns: 7% 45% 10% 7% 10% 15% 6%;
    font-size: .85rem;
    font-weight: bold;
    background: #f5f5f5;
    padding: 2px 0px 2px 0px;
}

.table-grid-header-pbi div:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.table-grid-header-pbi div {
    padding-left: 5px;
    text-align: center;
}

.table-grid-header-closed {
    display: grid;
    grid-template-columns: 12% 50% 9% 8% 9% 7% 5%;
    font-size: .85rem;
    font-weight: bold;
    background: #f5f5f5;
    padding: 2px 0px 2px 0px;
}

.table-grid-header-closed div:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.table-grid-header-closed div {
    padding-left: 5px;
    text-align: center;
}

.table-grid-main-pbi {
    display: grid;
    grid-template-columns: 7% 45% 10% 7% 10% 15% 6%;
    font-size: .88rem;
    background: white;
    border-top: 1px solid #dbdbdb;
}

.nomargin {
    margin-bottom: 0 !important;
}

.table-grid-main-pbi:hover,
.table-grid-main-closed:hover {
    background: #f5f5f5;
}

.is-1-px {
    height: 1px !important;
}

.table-grid-main {
    display: grid;
    grid-template-columns: 4% 7% 5% 41% 10% 7% 10% 10% 6%;
    font-size: .86rem;
    background: white;
    border-top: 1px solid #dbdbdb;
}

.table-grid-main:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.table-grid-main-alt {
    display: grid;
    grid-template-columns: 12% 55% 10% 7% 10% 6%;
    font-size: .86rem;
    background: white;
    border-top: 1px solid #dbdbdb;
}

.table-grid-main-alt:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.table-grid-main-closed {
    display: grid;
    grid-template-columns: 12% 50% 9% 8% 9% 7% 5%;
    font-size: .86rem;
    background: white;
    border-top: 1px solid #dbdbdb;
}

.table-grid-main-closed:hover {
    background: #f5f5f5;
}

.pad-left-5 {
    padding-left: 5px !important;
}

.table-grid-sub {
    display: grid;
    grid-template-columns: 4% auto;
    grid-gap: 3px;
    display: none;
    font-size: .9rem;
    padding-bottom: 18px;
    background-color: white;
}

.grid-sub {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 3px;
    font-size: .8rem;
}

.grid-sub-2 {
    display: grid;
    grid-template-columns: 35% auto;
}

.grid-sub-impact {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 3px;
    font-size: .8rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 3px;
}

.grid-2 .label {
    margin-bottom: 0 !important;
}

.grid-sub-2-impact {
    display: grid;
    grid-template-columns: 76% auto;
}

.table-grid-main .has-padding {
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}

.has-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.has-overflow:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
}

.table-grid-main-alt .has-padding {
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}

.table-grid-main-pbi .has-padding {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}

.table-grid-main-closed .has-padding {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}

.top-level {
    margin-bottom: 10px !important;
    padding-right: 15px;
}

.table-grid-header div,
.table-grid-header-alt div {
    padding-left: 5px;
    text-align: center;
}

.table-grid-header div:not(:last-child),
.table-grid-header-alt div:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.centered-large {
    padding: 5rem;
    text-align: center;
    opacity: 0.5;
    font-size: 50px;
    z-index: 10;
}

#login_form {
    position: fixed;
    z-index: 1000;
    height: 250px;
    width: 300px;
    background: white;
    right: 10px;
    top: 60px;
    display: none;
    padding: .75rem;
}

.plus-20 {
    height: 270px !important;
}

#login_error {
    background: #C71c22;
    color: white;
    padding: .4rem;
    margin-top: 3px;
}

#login_ok {
    background: forestgreen;
    color: white;
    padding: .4rem;
    margin-top: 3px;
}

#status_update_modal .modal-card-body {
    background-color: #f5f5f5;
}

.timeline,
.timeline-closed {
    position: relative;
}

.timeline::before {
    content: '';
    background: #C5CAE9;
    width: 5px;
    height: 100.5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-closed::before {
    content: '';
    background: #C5CAE9;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-top: 36px;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 50px;
}

.timeline-item h2 {
    font-size: 20px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #2657a5 transparent transparent;
}

.timeline-item:nth-child(even) .content-escalation::after {
    border-color: transparent crimson transparent transparent !important;
}

.timeline-item:nth-child(even) .status-escalation::after {
    border-color: transparent chocolate transparent transparent !important;
}

.timeline-item:nth-child(even) .content-relation::after {
    border-color: transparent steelblue transparent transparent !important;
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}

#timeline_input {
    position: fixed;
    top: 52px;
    right: 83px;
    background-color: white;
    padding: .5rem;
    border: 1px solid #dbdbdb;
    z-index: 40;
    width: 270px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#timeline_input.noshow {
    display: none;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0 2px 5px -10px #999;
    -moz-box-shadow: 0 2px 5px -10px #999;
    box-shadow: 2px 5px 10px #999;
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #2657a5;
}

.timeline-content.content-escalation::after {
    border-color: transparent transparent transparent crimson !important;
}

.timeline-content.status-escalation::after {
    border-color: transparent transparent transparent chocolate !important;
}

.timeline-content.content-relation::after {
    border-color: transparent transparent transparent steelblue !important;
}

.timeline-content-last,
.timeline-content-first {
    position: relative;
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
}

.timeline-content-last::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 34px;
    right: -39px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent crimson;
}

.timeline-content-first::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 34px;
    right: -39px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent forestgreen;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #2657a5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}


/*.timeline a {
  background: #2657a5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
.timeline a:hover, .timeline a:active, .timeline a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}*/

.timeline-card {
    padding: 0 !important;
}

.timeline-card p {
    padding: 0 20px;
}

.timeline-card a {
    margin-left: 20px;
}

.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}

.timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.timeline-content blockquote {
    color: #757575;
    border-left-color: #3F51B5;
    margin-top: 8px;
    max-height: 150px;
    overflow: auto;
}

.timeline-date {
    background: forestgreen;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline-date-last {
    background: forestgreen;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: -25px;
    border-bottom-left-radius: 10px;
}

.content-escalation,
.status-escalation,
.content-relation {
    padding: 0;
    background: transparent;
    box-shadow: unset;
}

.date-escalation {
    display: block;
    position: relative;
    border-radius: 10px;
    top: 20px;
    background: crimson;
    -webkit-box-shadow: 0 2px 5px -10px #999;
    -moz-box-shadow: 0 2px 5px -10px #999;
    box-shadow: 2px 5px 10px #999;
}

.date-status {
    display: block;
    position: relative;
    border-radius: 10px;
    top: 20px;
    background: chocolate;
    -webkit-box-shadow: 0 2px 5px -10px #999;
    -moz-box-shadow: 0 2px 5px -10px #999;
    box-shadow: 2px 5px 10px #999;
}

.date-relation {
    display: block;
    position: relative;
    border-radius: 10px;
    top: 20px;
    background: steelblue;
    -webkit-box-shadow: 0 2px 5px -10px #999;
    -moz-box-shadow: 0 2px 5px -10px #999;
    box-shadow: 2px 5px 10px #999;
}

.date-relation a {
    color: white;
}

.after-escalation {
    border-color: transparent transparent transparent crimson;
}

.c_experience_button {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: white;
    padding: .5rem;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    z-index: 100;
}

.qj-active {
    width: 300px !important;
    height: auto !important;
}

.tabs.is-toggle li.is-active a {
    background-color: #2657a5 !important;
    border-color: #2657a5 !important;
}

.tabs-show {
    display: block !important;
}

.tabs ul li {
    background: white;
}

.is-sortable {
    display: grid;
    grid-template-columns: auto 10%;
}

.modal-background {
    background-color: rgba(10, 10, 10, 0.50) !important;
}

@media only screen and (max-width: 1300px) {
    .hidden-1300 {
        display: none;
    }
    #active_outages,
    #pbi_counts,
    #total_outages {
        font-size: 1rem !important;
    }
    .tag:not(body),
    .is-size-7 {
        font-size: .7rem !important;
        padding-left: .2rem !important;
        padding-right: .2rem !important;
    }
    .table-grid-header,
    .table-grid-header-alt,
    .table-grid-header-pbi,
    .table-grid-header-closed,
    .table-grid-main,
    .table-grid-main-alt,
    .table-grid-main-pbi,
    .table-grid-main-closed {
        font-size: .8rem !important;
    }
    .table-grid-header,
    .table-grid-main {
        grid-template-columns: 4% 9% 5% 40% 12% 15% 15%;
    }
    .table-grid-header-alt,
    .table-grid-main-alt {
        grid-template-columns: 11% 55% 17% 17%;
    }
    .table-grid-header-pbi,
    .table-grid-main-pbi {
        grid-template-columns: 12% 50% 12.5% 9.5% 10% 6%;
    }
    .table-grid-header-closed,
    .table-grid-main-closed {
        grid-template-columns: 13% 50% 13.5% 13.5% 10%;
    }
    .grid-2 .label {
        font-size: .8rem !important;
    }
    .table-grid-sub {
        font-size: .8rem !important;
    }
    .table-grid-main .fas {
        font-size: 1.3rem;
    }
    .timeline {
        font-size: .75rem;
    }
    .timeline-item h2 {
        font-size: 15px;
    }
    .timeline-date {
        padding: 5px;
    }
}

@media only screen and (max-width: 1100px) {
    #active_outages,
    #pbi_counts,
    #total_outages {
        font-size: .95rem !important;
    }
    .tag:not(body),
    .is-size-7 {
        font-size: .67rem !important;
    }
    .table-grid-header,
    .table-grid-header-pbi,
    .table-grid-header-closed,
    .table-grid-main,
    .table-grid-main-pbi,
    .table-grid-main-closed {
        font-size: .77rem !important;
    }
    .grid-sub,
    .grid-sub-impact {
        font-size: .73rem !important;
    }
    .timeline {
        font-size: .73rem;
    }
    .timeline-item h2 {
        font-size: 13px;
    }
    .timeline-date {
        padding: 4px;
    }
    .table-grid-main .fas {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1060px) {
    .hidden-1060 {
        display: none;
    }
    .table-grid-header,
    .table-grid-main {
        grid-template-columns: 5% 10% 10% 40% 20% 15%;
    }
    .table-grid-header-alt,
    .table-grid-main-alt {
        grid-template-columns: 15% 65% 20%;
    }
    .tags.has-addons {
        display: none;
    }
    .grid-sub,
    .grid-sub-impact {
        font-size: .70rem !important;
    }
    .navbar {
        display: none;
    }
    .table-grid-sub .grid-2 {
        grid-template-columns: auto;
        grid-gap: 8px;
    }
}

@media only screen and (max-width: 860px) {
    .hidden-860 {
        display: none;
    }
    .table-grid-header,
    .table-grid-main {
        grid-template-columns: 5% 12% 10% 50% 23%;
    }
    .table-grid-header-alt,
    .table-grid-main-alt {
        grid-template-columns: 15% auto;
    }
    .table-grid-header-pbi,
    .table-grid-main-pbi {
        grid-template-columns: 12% 52% 15% 12% 9%;
    }
    .table-grid-header-closed,
    .table-grid-main-closed {
        grid-template-columns: 15% 55% 15% 15%;
    }
    .grid-sub,
    .grid-sub-impact {
        font-size: .70rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .custom-reload {
        display: block !important;
    }
    .is-sticky .level-right {
        display: none;
    }
    .level-item {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 680px) {
    .hidden-680 {
        display: none;
    }
    .table-grid-header,
    .table-grid-main {
        grid-template-columns: 5% 20% 10% 65%;
    }
    .table-grid-header-pbi,
    .table-grid-main-pbi {
        grid-template-columns: 15% 70% 15%;
    }
    .table-grid-main .fas {
        font-size: .95rem;
    }
    .table-grid-main-closed .has-padding {
        padding: 1px;
    }
}

.navbar-burger {
    display: none !important;
}

.navbar-end {
    display: flex !important;
}

.custom-reload {
    display: none;
    top: 10%;
    right: 3%;
    position: absolute;
    z-index: 29;
}

.region-select {
    position: fixed;
    top: 92px;
    right: 195px;
    background-color: white;
    z-index: 50;
    padding: 10px;
    border-radius: 3px;
    width: 350px;
    display: none;
}