.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: #4a4a4a;
}

.timeline:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: #dbdbdb;
}

.timeline .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
}

.timeline .timeline-container .timeline-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    background: #4f537b;
}

.timeline .timeline-container .timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.timeline .timeline-container .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.timeline .timeline-container .timeline-body {
    background: white;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.2);
}

.timeline p {
    font-size: .9em;
}


/*
.timeline .timeline-container .timeline-body:before {
    content: "";
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}
*/

.timeline .timeline-container .timeline-body .timeline-title {
    margin-bottom: 1.4rem;
}

.timeline .timeline-container .timeline-body .timeline-title .badge {
    background: #4f537b;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.timeline .timeline-container .timeline-body .timeline-subtitle {
    opacity: 0.8;
    margin-top: 16px;
    font-size: 11px;
}

.timeline .timeline-container.primary .badge,
.timeline .timeline-container.primary .timeline-icon {
    background: #1d8cf8 !important;
    color: white;
}

.timeline .timeline-container.info .badge,
.timeline .timeline-container.info .timeline-icon {
    background: #11cdef !important;
    color: white;
}

.timeline .timeline-container.success .badge,
.timeline .timeline-container.success .timeline-icon {
    background: #00bf9a !important;
    color: white;
}

.timeline .timeline-container.warning .badge,
.timeline .timeline-container.warning .timeline-icon {
    background: #ff8d72 !important;
    color: white;
}

.timeline .timeline-container.danger .badge,
.timeline .timeline-container.danger .timeline-icon {
    background: #fd5d93 !important;
    color: white;
}