<!--
    Name:           ActiveOutages.vue 
    Purpose:        "Active Alerts" page in the Outage Whiteboard
    Last Updated:   10/22/2021
-->
<template>
    <div class="columns is-gapless">
        <add-ticket :show="addNote" :type="'INC'" :user="user" @close="addNote = false" @update="getTickets()"></add-ticket>
        <div class="column is-three-fifths">
            <div v-show="escOpen" class="disabled-overlay"></div>
            <div class="is-sticky">
                <div class="level-header">
                    <div class="level">
                        <div class="level-left modify-flex">
                            <div class="level-item is-size-5">Total Active Alerts: {{totalAlerts}}</div>
                            <div class="is-size-7">All times are Central US</div>
                        </div>
                        <div class="level-right">
                            <div class="level-item" v-if="perm > 0">
                                <button class="button is-small" 
                                v-on:click="addNote = true" 
                                v-bind:class="[{'is-loading':isLoading || selfLoading}, '']">
                                    <span class="icon is-small"><i class="fas fa-plus"></i></span><span>Add INC Ticket</span>
                                </button>
                            </div>
                            <div class="level-item">
                                <div class="select is-small">
                                    <select v-model="selectRegion" v-bind:disabled="isLoading || selfLoading">
                                        <option v-for="r in regions" :key="r" :value="r">{{r}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="select is-small">
                                    <select v-model="selectView" v-bind:disabled="isLoading || selfLoading">
                                        <option value="Full View">Full View</option>
                                        <option value="Carrier View">Carrier View</option>
                                    </select>
                                </div>
                            </div>
                            <div class="level-item">
                                <button class="button is-small is-success protip" 
                                v-on:click="getTickets()" 
                                v-bind:class="[{'is-loading':isLoading || selfLoading}, '']"
                                data-pt-scheme="blue" data-pt-position="bottom" data-pt-title="Refresh Active Alerts" data-pt-classes="is-size-7">
                                    <span class="icon is-small"><i class="fas fa-sync"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div v-if="perm > 0" class="legend-grid">
                        <div v-for="tag in legendTags" :key="tag.class + 'Tag'" class="legend-tag" v-bind:class="tag.class">
                            <i :class="tag.icon" class="is-size-5"></i>
                            <div>{{tag.text}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inc-holder" v-bind:class="[{'inc-holder-logged-in':perm > 0}, 'inc-holder-logged-out']">
                <loading-screen :show="isLoading"></loading-screen>
                <div v-show="isEmpty" class="empty-screen">
                    <div class="is-size-5"><i class="far fa-frown has-text-danger"></i>&nbsp;&nbsp;No tickets found with selected filters.</div>
                </div>
                <div 
                v-show="!isLoading && !isEmpty" 
                v-for="ticket in ticketData" 
                v-on:click="selectedTicket = ticket.inc" 
                :key="ticket.inc" 
                class="inc-ticket" 
                v-bind:class="[{'inc-ticket-selected':selectedTicket === ticket.inc,'inc-ticket-removed':perm < 1}, '']">
                    <div v-if="perm > 0" v-bind:class="ticket.status.class"><i :class="ticket.status.icon"></i></div>
                    <div class="p-3 has-overflow">
                        <div class="tags is-marginless">
                            <span class="tag" v-bind:class="ticket.region.class">{{ticket.region.text}}</span>
                            <span v-if="ticket.carrier" class="tag is-dark">Carrier</span>
                            <span v-if="perm > 0 && ticket.ping.text != 'Ping: Not Monitored'" class="tag" v-bind:class="ticket.ping.class">{{ticket.ping.text}}</span>
                        </div>
                        <div class="mb-p5"><a class="has-underline" v-bind:href="remedyLink(ticket.inc)" target="_blank">{{ticket.inc}}</a> - {{ticket.sum}}</div>
                        <div class="is-size-7 is-flex"><div class="mr-3"><b>Submitter: </b>{{ticket.sub}}</div><div><b>Last Update: </b>{{ticket.last_sub}} ({{ticket.last}})</div></div>
                    </div> 
                    <div class="p-3 has-overflow">
                        <div class="is-size-7"><b>Next Update</b></div>
                        <div>{{ticket.next}}</div>
                        <div v-if="perm > 0" class="is-size-7">{{ticket.due}}</div>
                    </div>
                    <div v-if="perm > 0" class="p-3 has-overflow">
                        <div class="is-size-7"><b>Escalations</b></div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="z-index: 50;">
            <ticket-details 
            :user="user" 
            :perm="perm" 
            :ticket="selectedTicket" 
            :loading="isLoading" 
            :force="forceUpdate"
            :type="'active'"
             @updated="forceUpdate = false"
             @refresh="getTickets()"
             @esc="escOpen = !escOpen">
             </ticket-details>
        </div>
    </div>
</template>

<script>
let TicketDetails = httpVueLoader('./TicketDetails.vue')
let LoadingScreen = httpVueLoader('./LoadingScreen.vue')
let AddTicket = httpVueLoader('./AddTicket.vue')

module.exports = {
    name: 'ActiveOutages',
    props: {
        user: String,
        perm: Number
    },
    data: function() {
        return {
            totalAlerts: 0,
            refreshTimer: null,
            selectedTicket: '',
            isLoading: true,
            selfLoading: true,
            addNote: false,
            forceUpdate: false,
            isEmpty: false,
            escOpen: false,
            ticketData: [],
            selectRegion: 'All Regions',
            selectView: 'Full View',
            lastRegion: '',
            lastView: '',
            legendTags: [
                {text: 'No Update Needed', icon: 'fas fa-check-circle', class: 'is-ok'},
                {text: 'Update < 30 min', icon: 'fas fa-exclamation-triangle', class: 'is-notice'},
                {text: 'Update < 15 min', icon: 'fas fa-exclamation-circle', class: 'is-warning'},
                {text: 'Update Past Due', icon: 'fas fa-bell', class: 'is-critical'}
            ],
            regions: ['All Regions', 'Capital', 'Coastal', 'Lakes', 'Lincoln', 'Corporate']
        }
    },
    methods: {
        getTickets() {
            let params = {
                action: 'getActiveTickets',
                perm: this.$props.perm,
                region: this.selectRegion,
                view: this.selectView
            }
            this.selfLoading = true
            this.isEmpty = false

            if(this.selectedTicket === '') {
                this.isLoading = true
            }

            postData(params)
                .then(data => {
                    this.ticketData = data
                    this.totalAlerts = data.length
                    
                    if(this.totalAlerts === 0) {
                        this.selectedTicket = ''
                        this.isEmpty = true
                    } else {
                        this.selectedTicket = (this.selectedTicket === '') ? data[0].inc:this.selectedTicket

                        if(this.lastRegion != this.selectRegion || this.lastView != this.selectView) {
                            this.selectedTicket = data[0].inc
                        }

                        this.forceUpdate = true
                        this.setRefreshTimer()
                        this.setCookies()
                    }

                    this.isLoading = false
                    this.selfLoading = false
                    this.lastRegion = this.selectRegion
                    this.lastView = this.selectView
                })
        },
        setRefreshTimer() {
            clearInterval(this.refreshTimer)
            this.refreshTimer = setInterval(() => {
                this.getTickets()
            }, 120000)
        },
        remedyLink(t) {
            return 'http://remedy.mediacomcorp.com/arsys/servlet/ViewFormServlet?form=HPD%3aHelp%20Desk&server=arprod&qual=%271000000161%27=%22'+t+'%22'
        },
        setCookies() {
            setCookie('viewSelect', this.selectView, 365)
            setCookie('regionSelect', this.selectRegion, 365)
        }
    },
    components: {
        'ticket-details': TicketDetails,
        'loading-screen': LoadingScreen,
        'add-ticket': AddTicket
    },
    mounted: function() {
        if(getCookie('viewSelect')) {
            this.selectView = getCookie('viewSelect')
        }

        if(getCookie('regionSelect')) {
            this.selectRegion = getCookie('regionSelect')
        }

        this.getTickets()
    }
}
</script>

<style scoped>
.legend-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    height: 30px;
}
.legend-tag {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    font-size: .9em;
}
.inc-ticket {
    background: white;
    border-bottom: 1px solid #dbdbdb; 
    max-height: 130px; 
    display: grid;
    grid-template-columns: 8% 60% 16% 16%;
    font-size: .9em;
    transition: .3s;
}
.inc-ticket-removed {
    grid-template-columns: 80% 20% !important;
}
.inc-ticket:hover {
    cursor: pointer;
}
.inc-ticket-selected {
    background: #f5f5f5;
}
.inc-holder {
    overflow-y: scroll;
    background: white;
}
.inc-holder-logged-in {
    height: calc(100vh - 174.8px) !important;
}
.inc-holder-logged-out {
    height: calc(100vh - 120.8px);
}
.columns {
    background: #f5f5f5;
}
.column {
    padding-bottom: 0 !important;
}
.p-3 {
    padding: .75em;
}
.mr-10 {
    margin-right: 10px;
}
.mb-p5 {
    margin-bottom: .5em;
}
.is-full {
    height: 100% !important;
    width: 100% !important;
    border-radius: 0 !important;
}
.tag:not(body).is-lincoln {
    background: seagreen;
    color: white;
}
.tag:not(body).is-coastal {
    background: burlywood;
    color: black;
}
.tag:not(body).is-lakes {
    background: cornflowerblue;
    color: white;
}
.tag:not(body).is-capital {
    background: #2657a5;
    color: white;
}
.tag:not(body).is-corporate {
    background: darkmagenta;
    color: white;
}
.modify-flex {
    flex-direction: column !important;
    align-items: baseline !important;
}
.has-underline {
    text-decoration: underline !important;
}
.empty-screen {
    text-align: center;
    padding-top: 10rem;
    background: white;
    height: 100%;
}
.disabled-overlay {
    background: rgba(10, 10, 10, 0.50);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    opacity: .7;
    z-index: 30;
}
</style>