<!--
    Name:           AddTicket.vue 
    Purpose:        Adds tickets into the Outage Whiteboard (INC or PBI/PKE)
    Last Updated:   10/21/21
    Used In:        ActiveOutages.vue, ProblemList.vue
-->
<template>
    <div class="modal modal-fx-fadeInScale" :class="[{'is-active':show}, '']" style="z-index: 51;">
        <div class="modal-background" @click="closeMe()"></div>
        <div class="modal-content">
            <article class="message">
                <div class="message-header is-header-blue">
                    <p>Add New {{type}} Ticket</p>
                </div>
                <div class="message-body">
                    <div v-if="type === 'INC'" class="content">
                        When adding incident tickets, please keep in mind:<br>
                        <ul>
                            <li>Only tickets <b>without</b> an active CIU may be added manually. Any tickets with an active CIU will automatically be pulled from Remedy.</li>
                            <li>Tickets that have a closed CIU, but are still open, may be added.</li>
                            <li>Tickets will automatically be removed when their status is set to "Resolved".</li>
                            <li>Tickets can be removed manually by clicking on the trash can icon in the top-right of the Details page.</li>
                        </ul>
                    </div>
                    <div v-if="type === 'PBI/PKE'" class="content">
                        When adding PBI/PKE tickets, please keep in mind:<br>
                        <ul>
                            <li>Tickets are only removed by users and not automatically. To remove one, click the trash can icon on the far right of an entry.</li>
                            <li>The listed Submit Date and Creator is when the ticket was submitted into the OWB and not Remedy.</li>
                        </ul>
                    </div>
                    <div class="label">Enter Ticket Number</div>
                    <input class="input mb-5" type="text" v-model="ticketNumber">

                    <div class="label" v-if="type === 'INC'">Select Region</div>
                    <div class="tags are-medium" v-if="type === 'INC'">
                        <span v-for="region in regionList" 
                        :key="region+'-reg'" 
                        v-bind:class="[{'is-info is-light tag-selected':selectedRegion === region}, 'is-white']"
                        v-on:click="selectedRegion = region"
                        style="z-index: 51;" 
                        class="tag region-tag"
                        >
                            {{region}}
                        </span>
                    </div>

                    <div class="button-section">
                        <div></div>
                        <div class="buttons">
                            <button class="button" v-on:click="closeMe()">Cancel</button>
                            <button class="button is-success" v-on:click="submitTicket()" v-bind:disabled="ticketNumber === ''">Add</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</template>

<script>
module.exports = {
    name: 'AddTicket',
    props: {
        show: Boolean,
        type: String,
        user: String
    },
    data: function() {
        return {
            ticketNumber: '',
            selectedRegion: '',
            regionList: ['Lincoln', 'Capital', 'Lakes', 'Coastal', 'Corporate', 'Company-Wide']
        }
    },
    methods: {
        closeMe() {
            this.$emit('close')
            this.ticketNumber = ''
            this.selectedRegion = ''
        },
        submitTicket() {
            let params = {
                action: 'submitTicket',
                ticket: this.ticketNumber,
                region: this.selectedRegion,
                type: this.$props.type,
                submitter: this.$props.user
            }

            if(this.selectedRegion === '' && this.$props.type === 'INC') {
                alert('Please select a Region')
            } else {
                postData(params)
                    .then(data => {
                        if(data != 'ok') {
                            alert(data)
                        } else {
                            alert(this.ticketNumber+' added successfully!')
                            this.$emit('update')
                            this.closeMe()
                        }
                    })
            }
        }
    }
}
</script>

<style scoped>
.button-section {
    margin-top: 25px; 
    display: flex; 
    justify-content: space-between;
}
input {
    width: 300px !important;
}
.region-tag {
    border: 1px solid #dbdbdb;
    cursor: pointer;
}
.is-header-blue {
    background: #2657a5 !important;
    font-size: larger;
}
.tag-selected {
    border: 1px solid #2657a5;
}
</style>