<!--
    Name:           ClosedOutages.vue 
    Purpose:        Displays all closed outages on the Outage Whiteboard
    Last Updated:   10/22/2021
-->
<template>
    <div class="columns is-gapless">
        <div class="column is-three-fifths">
            <div class="is-sticky">
                <div class="level-header">
                    <div class="level">
                        <div class="level-left modify-flex">
                            <div class="level-item is-size-5">Total Closed Alerts: {{totalAlerts}}</div>
                            <div class="is-size-7">All times are Central US</div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="select is-small">
                                    <select v-model="timeView" v-bind:disabled="isLoading || selfLoading">
                                        <option value="24">Last 24 Hours</option>
                                        <option value="7">Last 7 Days</option>
                                    </select>
                                </div>
                            </div>
                            <div class="level-item">
                                <button class="button is-small is-success protip" 
                                @click="getClosed()"
                                v-bind:class="[{'is-loading':isLoading || selfLoading}, '']"
                                data-pt-scheme="blue" data-pt-position="bottom" data-pt-title="Refresh Closed Alerts" data-pt-classes="is-size-7">
                                    <span class="icon is-small"><i class="fas fa-sync"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inc-holder">
                <loading-screen :show="isLoading"></loading-screen>
                <div v-show="isEmpty" class="empty-screen">
                    <div class="is-size-5"><i class="far fa-frown has-text-danger"></i>&nbsp;&nbsp;No closed alerts found.</div>
                </div>
                <div 
                v-show="!isLoading && !isEmpty" 
                v-for="ticket in ticketData" 
                v-on:click="selectedTicket = ticket.inc" 
                :key="ticket.inc" 
                class="inc-ticket" 
                v-bind:class="[{'inc-ticket-selected':selectedTicket === ticket.inc}, '']">
                    <div class="p-3 has-overflow">
                        <div class="tags is-marginless">
                            <span class="tag" v-bind:class="ticket.region.class">{{ticket.region.text}}</span>
                            <span v-if="ticket.carrier" class="tag is-dark">Carrier</span>
                        </div>
                        <div class="mb-p5"><a class="has-underline" v-bind:href="remedyLink(ticket.inc)" target="_blank">{{ticket.inc}}</a> - {{ticket.sum}}</div>
                        <div class="is-size-7 is-flex"><div class="mr-3"><b>Submitter: </b>{{ticket.sub}}</div><div><b>Last Update: </b>{{ticket.last_sub}} ({{ticket.last}})</div></div>
                    </div> 
                    <div class="p-3 has-overflow">
                        <div class="is-size-7"><b>Resolved Date</b></div>
                        <div>{{ticket.closed}}</div>
                        <div class="is-size-7">Duration: {{ticket.dur}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <ticket-details 
            :user="user" 
            :perm="perm" 
            :ticket="selectedTicket" 
            :loading="isLoading" 
            :force="forceUpdate"
            :type="'closed'"
             @updated="forceUpdate = false"
             @refresh="getClosed()">
             </ticket-details>
        </div>
    </div>
</template>

<script>
let TicketDetails = httpVueLoader('./TicketDetails.vue')
let LoadingScreen = httpVueLoader('./LoadingScreen.vue')

module.exports = {
    name: 'ClosedOutages',
    props: {
        user: String,
        perm: Number
    },
    data: function() {
        return {
            isLoading: true,
            selfLoading: false,
            isEmpty: false,
            forceUpdate: false,
            lastTime: '7',
            totalAlerts: 0,
            timeView: '24',
            selectedTicket: '1',
            ticketData: []
        }
    },
    methods: {
        getClosed() {
            let params = {
                action: 'getClosedTickets',
                perm: this.$props.perm,
                view: this.timeView
            }
            this.selfLoading = true
            this.isEmpty = false

            postData(params)
                .then(data => {
                    this.ticketData = data
                    this.totalAlerts = data.length

                    if(this.totalAlerts === 0) {
                        this.selectedTicket = ''
                        this.isEmpty = true
                    } else {
                        this.selectedTicket = (this.selectedTicket === '1' || this.selectedTicket === '') ? data[0].inc:this.selectedTicket

                        if(this.lastTime != this.timeView) {
                            this.selectedTicket = data[0].inc
                        }
                    }

                    this.selfLoading = false
                    this.isLoading = false
                    this.lastTime = this.timeView
                })
            
        },
        remedyLink(t) {
            return 'http://remedy.mediacomcorp.com/arsys/servlet/ViewFormServlet?form=HPD%3aHelp%20Desk&server=arprod&qual=%271000000161%27=%22'+t+'%22'
        }
    },
    components: {
        'ticket-details': TicketDetails,
        'loading-screen': LoadingScreen,
    },
    mounted: function() {
        this.getClosed()
    }
}
</script>

<style scoped>
.modify-flex {
    flex-direction: column !important;
    align-items: baseline !important;
}
.inc-ticket {
    background: white;
    border-bottom: 1px solid #dbdbdb; 
    max-height: 130px; 
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: .9em;
    transition: .3s;
}
.inc-ticket:hover {
    cursor: pointer;
}
.inc-ticket-selected {
    background: #f5f5f5;
}
.inc-holder {
    overflow-y: scroll;
    background: white;
    height: calc(100vh - 122px);
}
.empty-screen {
    text-align: center;
    padding-top: 10rem;
    background: white;
    height: 100%;
}
.has-underline {
    text-decoration: underline !important;
}
.p-3 {
    padding: .75em;
}
.mb-p5 {
    margin-bottom: .5em;
}
</style>