<!--
    Name:           EscalationDetails.vue 
    Purpose:        Handles adding new escalations into Remedy/OWB
    Last Updated:   10/26/2021
    Used In:        TicketDetails.vue
-->
<template>
    <div v-if="show" class="main-wrapper">
        <div class="level is-marginless">
            <div class="level-left">
                <div class="level-item is-size-5"><b>Escalations - {{ticket}}</b></div>
            </div> 
            <div class="level-right">
                <div class="buttons are-small level-item">
                    <button 
                    @click="closeMe()" 
                    class="button is-danger is-light protip" 
                    v-bind:class="[{'is-loading':escLoading}, '']"
                    data-pt-scheme="blue" 
                    data-pt-position="top" 
                    data-pt-title="Close Escalation" 
                    data-pt-classes="is-size-7">
                        <span class="icon"><i class="fas fa-times"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="is-size-6 has-text-grey" style="margin: 5px 0;">{{summary}}</div>
        <hr>
        <div class="escalation-wrapper">
            <div>
                <div class="mb-p5">Please review the <a class="has-underline" href="http://nocportal.mediacomcorp.com/docs/lib/exe/fetch.php?media=event:escalation_for_core_ran_cmts_s_and_transport_fiber_cuts_v4.pdf" target="_blank">Escalation Guidelines</a> before submitting.</div>
                
                <div v-show="page === 1">
                    <table class="table is-fullwidth is-narrow is-hoverable is-striped">
                        <thead>
                            <tr class="is-size-7"><th>Time</th><th>Type</th><th>By</th><th>Contact</th></tr>
                        </thead>
                        <tbody>
                            <tr class="is-size-7"><td class="has-overflow">10/25/21 10:00AM</td><td>1-Hour</td><td class="has-overflow">tcost</td><td class="has-overflow">Josh Barr (515-555-5555)</td></tr>
                        </tbody>
                    </table>

                    <button class="button is-small" v-on:click="page = 2"><span class="icon"><i class="fas fa-user-plus"></i></span><span>Add Escalation</span></button>
                </div>

                <div v-show="page === 2">
                    <div class="label">Select Escalation Level</div>
                    <div class="select is-fullwidth mb-p5">
                        <select v-model="escTypeSelect">
                            <option v-for="item in escalationList" :key="item.val" :value="item.val">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="label">Enter Escalation Name</div>
                    <input class="input is-fullwidth mb-p5" type="text" v-model="escNameInput">

                    <div class="esc-grid-2 mb-p5">
                        <div>
                            <div class="label">Contact Method</div>
                            <div class="select is-fullwidth">
                                <select v-model="escContactMethod">
                                    <option value="phone">Phone</option>
                                    <option value="chat">Chat</option>
                                    <option value="verbal">Verbal</option>
                                    <option value="email">Email</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="label">Was Contacted?</div>
                            <div class="select is-fullwidth">
                                <select v-model="escContactContacted">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="label" v-show="showAdd">Enter {{addTitle}}</div>
                    <input v-show="showAdd" v-bind:placeholder="addPlaceholder" class="input is-fullwidth mb-p5" type="text" v-model="addInfoField">

                    <div class="buttons is-right mt-p4">
                        <button class="button" v-bind:class="[{'is-loading':escLoading}, '']" v-on:click="page = 1; clearData();">Cancel</button>
                        <button class="button is-success" v-bind:class="[{'is-loading':escLoading}, '']" v-bind:disabled="submitDisabled()" v-on:click="sendEscData()"><span class="icon"><i class="fas fa-check"></i></span><span>Submit</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
module.exports = {
    name: 'EscalationDetails',
    props: {
        ticket: String,
        user: String,
        summary: String,
        show: Boolean
    },
    data: function() {
        return {
            escTypeSelect: '',
            escNameInput: '',
            escContactMethod: '',
            escContactContacted: '',
            addInfoField: '',
            addPlaceholder: '',
            showAdd: false,
            addTitle: 'Phone Number',
            escalationData: [],
            escLoading: false,
            page: 1,
            escalationList: [
                { name: '0-Hour - HFC NOC Engagement', val: '0-Hour' },
                { name: '1-Hour - Field Level 1/NOC Shift Manager', val: '1-Hour' },
                { name: '2-Hour - Field Level 2/NOC Sr. Manager/Director', val: '2-Hour' },
                { name: '3-Hour - Regional Engineer & Director/VP Network Operations', val: '3-Hour' },
                { name: '4-Hour - Regional VP/VP Tech Ops/VP Engineering', val: '4-Hour' },
                { name: '12-Hour - SVP Field Operations', val: '12-Hour' },
                { name: '24-Hour - SVP Technology', val: '24-Hour' },
                { name: '0-Hour (Large) - All 0 - 4 Above', val: '0-Hour(L)' },
                { name: '1-Hour (Large) - 12 and 24 Hour Above', val: '1-Hour(L)' }
            ]
        }
    },
    methods: {
        closeMe() {
            this.$emit('close')
            this.escalationData = []
            this.page = 1
            this.clearData()
        },
        submitDisabled() {
            if
            (
                this.escTypeSelect != '' &&
                this.escNameInput != '' &&
                this.escContactMethod != '' &&
                this.escContactContacted != ''
            ) {
                return false
            } else {
                return true
            }
        },
        clearData() {
            this.escTypeSelect = ''
            this.escNameInput = ''
            this.escContactMethod = ''
            this.escContactContacted = ''
            this.addInfoField = ''
            this.showAdd = false
        },
        sendEscData() {
            if(this.showAdd === true && this.addInfoField === '') {
                alert('Please enter the '+this.addTitle)
            } else {
                let c = confirm('Are you sure you want to submit this escalation?')

                if(c) {
                    this.escLoading = true
                    let params = {
                        'action': 'writeEscalation',
                        'ticket': this.$props.ticket,
                        'data': {
                            'type': this.escTypeSelect,
                            'name': this.escNameInput,
                            'method': this.escContactMethod,
                            'contacted': this.escContactContacted,
                            'info': this.addInfoField,
                            'user': this.$props.user
                        }
                    }

                    postData(params)
                        .then(data => {
                            if(data === 'ok') {
                                alert('Escalation successfully added!')
                                this.clearData()
                            } else {
                                alert('Something went wrong. Please try again or contact NOC Tools.')
                            }

                            this.escLoading = false
                        })
                }
            }
        }
    },
    watch: {
        escContactMethod: function(newVal) {
            this.addInfoField = ''

            if(newVal === 'phone' || newVal === 'email') {
                this.showAdd = true
                this.addTitle = (newVal === 'phone') ? 'Phone Number':'Email Address'
                this.addPlaceholder = (newVal === 'phone') ? 'xxx-xxx-xxxx':'name@email.com'
            } else {
                this.showAdd = false
            }
        }
    }
}
</script>

<style scoped>
.esc-grid-2 {
    display: grid;
    grid-template-columns: 58% 40%;
    grid-gap: 10px;
}
.main-wrapper {
    background: white;
    z-index: 1000;
}
.escalation-wrapper {
    overflow: auto;
    height: calc(100vh - 210px); 
    padding: 5px;
    margin-top: 15px;
}
.has-underline {
    text-decoration: underline !important;
}
.mb-p5 {
    margin-bottom: 1.5em;
}
.mt-p4 {
    margin-top: 4rem;
}
.is-justify-content-space-between {
    justify-content: space-between;
}
</style>