<!--
    Name:           GenerateHandoff.vue
    Purpose:        Shift handoff generation page
    Last Updated:   10/18/21
-->
<template>
    <div v-if="showPage" class="container is-fluid main-container">
        <div class="handoff-header">
            <div>
                <div class="title is-4 pt-1r">Generate Shift Handoff</div>
                <div class="subtitle is-6" v-if="step === 1">
                Select the active and closed outages you want to include in the handoff and then click <b>Generate</b>.</div>

                <div class="subtitle is-6" v-if="step === 2">
                Edit (if necessary) and copy/paste the below data into a new email. Click <b>Reload</b> to start over.</div>
            </div>

            <div style="align-self: end;">
                <button class="button" 
                @click="getHandoffData()" 
                v-bind:class="[{'is-loading':isLoading}, '']">
                    <span class="icon"><i class="fas fa-sync"></i></span><span>Reload</span>
                </button>

                <button class="button is-success" 
                @click="generateHandoff()"
                v-bind:class="[{'is-loading':isLoading}, '']"
                v-bind:disabled="selectedTickets.length === 0">
                    <span class="icon"><i class="fas fa-check"></i></span><span>Generate</span>
                </button>
            </div>
        </div>

        <div class="selection-grid" v-show="step === 1">
            <div class="alert-section">
                <div class="sticky-header">
                    <b class="ml-5p">Active Alerts Selection</b>
                    <div class="alert-header">
                        <div></div><div>INC#</div><div>Start Date</div><div>Last Modified</div><div>Summary</div>
                    </div>
                </div>
                <div>
                    <div class="ticket-item is-size-7" v-for="ticket in activeAlerts" 
                    :key="ticket.INC" 
                    v-bind:class="[{'ticket-selected':selectedTickets.find(el => el === ticket.INC)}, '']"
                    >
                        <div><input class="large-checkbox" type="checkbox" :value="ticket.INC" v-model="selectedTickets"></div>
                        <div class="has-overflow">{{ticket.INC}}</div>
                        <div>{{ticket.start}}</div>
                        <div>{{ticket.lmod}}</div>
                        <div class="has-overflow">{{ticket.sum}}</div>
                    </div>
                </div>

                <div v-show="activeAlerts.length === 0 && !isLoading" class="message">
                    <i class="icon has-text-danger far fa-frown"></i>&nbsp;No active alerts found
                </div>
            </div>

            <div>
                <div class="sticky-header">
                    <b class="ml-5p">Closed Alerts Selection</b>
                    <div class="alert-header">
                        <div></div><div>INC#</div><div>Start Date</div><div>End Date</div><div>Summary</div>
                    </div>
                </div>
                <div>
                    <div class="ticket-item is-size-7" v-for="ticket in closedAlerts" 
                    :key="ticket.INC"
                    v-bind:class="[{'ticket-selected':selectedTickets.find(el => el === ticket.INC)}, '']">
                        <div><input class="large-checkbox" type="checkbox" :value="ticket.INC" v-model="selectedTickets"></div>
                        <div class="has-overflow">{{ticket.INC}}</div>
                        <div>{{ticket.start}}</div>
                        <div>{{ticket.end}}</div>
                        <div class="has-overflow">{{ticket.sum}}</div>
                    </div>
                </div>

                <div v-show="closedAlerts.length === 0 && !isLoading" class="message">
                    <i class="icon has-text-danger far fa-frown"></i>&nbsp;No closed alerts found
                </div>
            </div>
        </div>

        <div style="height: calc(100% - 190px);" v-show="step === 2">
            <div class="label">Subject</div>
            <input class="input has-fullwidth mb-5" type="text" v-model="subjectLine">
            <div class="label">Body</div>
            <textarea class="textarea" style="height: 100%;" v-model="bodyText"></textarea>
        </div>
    </div>
</template>

<script>
module.exports = {
    name: 'GenerateHandoff',
    props: {
        user: String,
        perm: Number
    },
    data: function() {
        return {
            showPage: false,
            step: 1,
            isLoading: false,
            subjectLine: '',
            bodyText: '',
            activeAlerts: [],
            closedAlerts: [],
            selectedTickets: []
        }
    },
    methods: { 
        getHandoffData() {
            this.isLoading = true
            this.step = 1
            this.selectedTickets = []
            this.subjectLine = ''
            this.bodyText = ''
            let params = {
                action: 'getHandoff'
            }

            postData(params)
                .then(data => {
                    this.activeAlerts = data['active']
                    this.closedAlerts = data['closed']
                    this.isLoading = false
                })
        },
        generateHandoff() {
            this.step = 2
            this.isLoading = true
            let params = {
                action: 'generateHandoff',
                tickets: this.selectedTickets
            }

            postData(params)
                .then(data => {
                    this.subjectLine = data['subject']
                    this.bodyText = data['body']
                    this.isLoading = false
                })
            
        }
    },
    mounted: function() {
        if(this.$props.perm < 1) {
            alert('Sorry, you don\'t have permission to view this page!')
            window.location.href = './'
        } else {
            this.showPage = true
            this.getHandoffData()
        }
    }
}
</script>

<style scoped>
.alert-section {
    overflow: auto;
}
.handoff-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.main-container {
    height: 100vh;
}
.pt-1r {
    padding-top: 1rem;
}
.large-checkbox {
    height: 19px; 
    width: 19px;
}
.selection-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: calc(100% - 190px);
    grid-gap: 10px;
}
.alert-header {
    display: grid;
    grid-template-columns: 5% 10% 20% 20% 45%;
    position: sticky;
    top: 0px;
    background: #f5f5f5;
}
.ml-5p {
    margin-left: 5%;
}
.ticket-item {
    display: grid;
    grid-template-columns: 5% 10% 20% 20% 45%;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    max-height: 70px;
    align-items: center;
    padding: .2em;
}
.sticky-header {
    position: sticky;
    top: 0px;
    background: #f5f5f5;
    border-bottom: 2px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
.ticket-selected {
    background: springgreen;
}
.message {
    text-align: center;
    padding-top: 5rem;
    opacity: .6;
    height: 100%;
    background: white;
}
</style>