<!--
    Name:           LoadingScreen.vue 
    Purpose:        Displays a centered loading screen
    Last Updated:   10/7/2021
    Used In:        ActiveOutages.vue, ClosedOutages.vue, ProblemList.vue, GenerateHandoff.vue
-->
<template>
    <div v-if="show" class="loading-screen">
        <div class="is-size-3"><i class="fas fa-circle-notch fa-spin"></i></div>
    </div>
</template>

<script>
module.exports = {
    name: 'LoadingScreen',
    props: {
        show: Boolean
    },
    data: function() {
        return {

        }
    },
    methods: {
        
    }
}
</script>

<style>
.loading-screen {
    text-align: center;
    padding-top: 10rem;
    background: white;
    opacity: .6;
    height: 100%;
}
</style>