<!--
    Name:           ProblemList.vue 
    Purpose:        Displays active PBI and PKEs in the outage whiteboard ('Open Problems' menu item)
    Last Updated:   10/21/2021
-->
<template>
    <div>
        <add-ticket :show="addNote" :type="'PBI/PKE'" :user="user" @close="addNote = false" @update="getTickets()"></add-ticket>
        <div class="is-sticky">
            <div class="level-header">
                <div class="level">
                    <div class="level-left modify-flex">
                        <div class="level-item is-size-5">Total Problems: {{totalAlerts}}</div>
                        <div class="is-size-7">All times are Central US</div>
                    </div>
                    <div class="level-right">
                        <div class="level-item" v-if="perm > 0">
                            <button class="button is-small" 
                            v-on:click="addNote = true" 
                            v-bind:class="[{'is-loading':isLoading || selfLoading}, '']">
                                <span class="icon is-small"><i class="fas fa-plus"></i></span><span>Add PBI/PKE Ticket</span>
                            </button>
                        </div>
                        <div class="level-item">
                            <button class="button is-small is-success protip" 
                            v-bind:class="[{'is-loading':isLoading || selfLoading}, '']"
                            v-on:click="getTickets()"
                            data-pt-scheme="blue" data-pt-position="bottom" data-pt-title="Refresh PBI/PKE Data" data-pt-classes="is-size-7">
                                <span class="icon is-small"><i class="fas fa-sync"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pbi-header" v-bind:class="[{'pbi-header-logged-in':perm > 0}, '']">
                <div class="p-3tb has-overflow" style="padding-left: .75em;">Ticket#</div>
                <div class="p-3tb">Summary</div>
                <div class="p-3tb">Submit Date</div>
                <div class="p-3tb">Duration</div>
                <div class="p-3tb">Creator</div>
                <div class="p-3tb">Assigned Group</div>
                <div v-if="perm > 0" class="p-3tb"></div>
            </div>
        </div>

        <div class="pbi-holder">
            <loading-screen :show="isLoading"></loading-screen>
            <div v-show="isEmpty" class="empty-screen">
                <div class="is-size-5"><i class="far fa-frown has-text-danger"></i>&nbsp;&nbsp;No PBI/PKEs found. <span v-if="perm > 0">Click "Add PBI/PKE Ticket" to add one.</span></div>
            </div>
            <div 
            v-show="!isLoading && !isEmpty" 
            v-for="ticket in ticketData"  
            :key="ticket.tick" 
            class="pbi-ticket" 
            v-bind:class="[{'pbi-ticket-logged-in':perm > 0}, '']">
                <div class="p-3 has-overflow"><a class="has-underline" v-bind:href="remedyLink(ticket.type, ticket.tick)" target="_blank">{{ticket.tick}}</a></div>
                <div class="p-3 has-overflow">{{ticket.sum}}</div>
                <div class="p-3 has-overflow">{{ticket.sub}}</div>
                <div class="p-3 has-overflow">{{ticket.dur}}</div>
                <div class="p-3 has-overflow">{{ticket.creator}}</div>
                <div class="p-3 has-overflow">{{ticket.group}}</div>
                <div v-if="perm > 0" class="p-3 justify-center">
                    <button class="button is-danger is-light" v-on:click="removeTicket(ticket.tick)"><span class="icon"><i class="fas fa-trash"></i></span></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
let LoadingScreen = httpVueLoader('./LoadingScreen.vue')
let AddTicket = httpVueLoader('./AddTicket.vue')

module.exports = {
    name: 'ProblemList',
    props: {
        user: String,
        perm: Number
    },
    data: function() {
        return {
            isLoading: true,
            selfLoading: false,
            isEmpty: false,
            ticketData: [],
            addNote: false,
            totalAlerts: 0
        }
    },
    methods: {
        getTickets() {
            this.selfLoading = true
            this.isEmpty = false
            let params = {
                action: 'getProblems'
            }

            postData(params)
                .then(data => {
                    this.ticketData = data
                    this.totalAlerts = data.length

                    if(this.totalAlerts === 0) {
                        this.isEmpty = true
                    }

                    this.selfLoading = false
                    this.isLoading = false
                })
        },
        remedyLink(t, ticket) {
            if(t === 'PBI') {
                return 'http://remedy.mediacomcorp.com/arsys/servlet/ViewFormServlet?form=PBM%3aProblem%20Investigation&server=arprod&qual=%271000000232%27=%22'+ticket+'%22'
            } else {
                return 'http://remedy.mediacomcorp.com/arsys/servlet/ViewFormServlet?form=PBM%3AKnown+Error&server=arprod&qual=%271000000979%27=%22'+ticket+'%22'
            }
        },
        removeTicket(ticketNumber) {
            let c = confirm('Are you sure you really want to remove '+ticketNumber+'?')

            if(c) {
                let params = {
                    action: 'removeTicket',
                    ticket: ticketNumber
                }

                postData(params)
                    .then(data => {
                        if(data === 'ok') {
                            alert(ticketNumber+' successfully removed!')
                            this.getTickets()
                        } else {
                            alert('Ticket was unable to be removed. Please try again or contact NOC Tools.')
                        }
                    })
            }
        }
    },
    components: {
        'loading-screen': LoadingScreen,
        'add-ticket': AddTicket
    },
    mounted: function() {
        this.getTickets()
    }
}
</script>

<style scoped>
.empty-screen {
    text-align: center;
    padding-top: 10rem;
    background: white;
    height: 100%;
}
.modify-flex {
    flex-direction: column !important;
    align-items: baseline !important;
}
.pbi-holder {
    overflow-y: scroll;
    background: white;
    height: calc(100vh - 159px);
}
.pbi-ticket {
    display: grid;
    grid-template-columns: 10% 45% 10% 10% 10% 15%;
    border-bottom: 1px solid #dbdbdb;
}
.pbi-ticket-logged-in {
    grid-template-columns: 7% 42.6% 10% 9.8% 8% 17% 5% !important;
}
.pbi-header {
    display: grid;
    grid-template-columns: 10.5% 44.5% 10.3% 9.5% 10% 11%;
    border-top: 1px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
    background: #f5f5f5;
}
.pbi-header-logged-in {
    grid-template-columns: 7.5% 42% 10% 10% 7.9% 13% 10% !important;
}
.level-header {
    border-bottom: 1px solid #dbdbdb;
}
.has-underline {
    text-decoration: underline !important;
}
.p-3 {
    padding: .75em;
    align-self: center;
}
.p-3tb {
    padding: .4em 0px;
    font-weight: bold;
}
.justify-center {
    justify-self: center;
}
</style>