<!--
    Name:           TicketDetails.vue 
    Purpose:        Displays INC ticket details for the Active and Closed outage pages
    Last Updated:   10/22/2021
    Used In:        ActiveOutages.vue, ClosedOutages.vue
-->
<template>
    <div class="container is-fluid has-background-white right-column">
        <ticket-timeline :show="showTimeline" :ticket="ticket" @close="showTicketNow" @update="handleUpdate()" :summary="incSummary" :force="force"></ticket-timeline>
        <loading-screen :show="loading || isLoading"></loading-screen>
        <escalation-details :show="showEscalation" :ticket="ticket" :user="user" @close="showTicketNow" :summary="incSummary"></escalation-details>
        <div v-show="error" class="error-screen">
            <div class="is-size-5"><i class="far fa-frown has-text-danger"></i>&nbsp;&nbsp;{{errorText}}</div>
        </div>
        <div v-show="ticketRemoved" class="error-screen">
            <div class="is-size-5"><i class="far fa-smile has-text-success"></i>&nbsp;&nbsp;Ticket removed successfully!</div>
        </div>
        <span v-show="showTicketAll && !loading && !error && !ticketRemoved">
            <div class="level is-marginless">
                <div class="level-left">
                    <div class="level-item is-size-5"><b>Details - {{ticket}}</b></div>
                </div> 
                <div class="level-right">
                    <div class="buttons are-small level-item">
                        <button 
                        v-on:click="displayEscalation()" 
                        v-if="perm > 0 && ticketData.event_type != 'Not Applicable'" 
                        class="button is-info is-light protip" 
                        data-pt-scheme="blue" 
                        data-pt-position="bottom" 
                        data-pt-title="Add Escalation to Ticket" 
                        data-pt-classes="is-size-7">
                            <span class="icon"><i class="far fa-bell"></i></span>
                        </button>

                        <button 
                        v-on:click="displayTimeline()" 
                        v-if="(ticketData.type === 'outage' || ticketData.type === 'resolved') && (type === 'closed' || type === 'active')" 
                        class="button is-info is-light protip" 
                        data-pt-scheme="blue" 
                        data-pt-position="bottom" 
                        data-pt-title="View Ticket Timeline" 
                        data-pt-classes="is-size-7">
                            <span class="icon"><i class="fas fa-history"></i></span>
                        </button>

                        <a 
                        class="button is-info is-light protip" 
                        v-if="(ticketData.type === 'outage' || ticketData.type === 'resolved') && (type === 'closed' || type === 'active')" 
                        v-bind:href="'./php/publicupdate.php?t='+ticket" 
                        target="_blank" 
                        data-pt-scheme="blue" 
                        data-pt-position="bottom" 
                        data-pt-title="View Last Public Email" 
                        data-pt-classes="is-size-7">
                            <span class="icon"><i class="far fa-comment-alt"></i></span>
                        </a>

                        <a 
                        class="button is-info is-light protip" 
                        data-pt-scheme="blue" 
                        data-pt-position="bottom" 
                        data-pt-title="View Ticket in Remedy" 
                        v-bind:href="remedyLink" target="_blank" 
                        data-pt-classes="is-size-7">
                            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                        </a>

                        <button 
                        v-on:click="removeTicket()" 
                        v-if="perm > 0 && ticketData.type != 'outage' && type === 'active'" 
                        class="button is-danger is-light protip" 
                        data-pt-scheme="blue" 
                        data-pt-position="top" 
                        data-pt-title="Remove Ticket from Whiteboard" 
                        data-pt-classes="is-size-7">
                            <span class="icon"><i class="far fa-trash-alt"></i></span>
                        </button>

                    </div>
                </div>
            </div>
            <div class="is-size-6 has-text-grey" style="margin: 5px 0;">{{ticketData.sum}}</div>
            <hr>
            <div class="ticket-data">
                <div>
                    <div class="message is-success" v-show="type === 'closed'">
                        <div class="message-header" v-bind:class="[{'border-radius-4':!RESToggle}, '']">
                            <div class="header-level">
                                <div>Resolution</div>
                                <div><i v-bind:class="[{'far fa-plus-square':!RESToggle}, 'far fa-minus-square']" v-on:click="RESToggle = !RESToggle"></i></div>
                            </div>
                        </div>
                        <div class="message-body" v-show="RESToggle === true">
                            {{ticketData.res}}
                        </div>
                    </div>

                    <div class="message is-danger" v-show="ticketData.type === 'outage'">
                        <div class="message-header" v-bind:class="[{'border-radius-4':!LUToggle}, '']">
                            <div class="header-level">
                                <div>Latest Update ({{ticketData.last}})</div>
                                <div><i v-bind:class="[{'far fa-plus-square':!LUToggle}, 'far fa-minus-square']" v-on:click="LUToggle = !LUToggle"></i></div>
                            </div>
                        </div>
                        <div class="message-body" v-show="LUToggle === true">
                            {{ticketData.last_up}}
                        </div>
                    </div>

                    <div class="message is-info">
                        <div class="message-header" v-bind:class="[{'border-radius-4':!CEToggle}, '']">
                            <div class="header-level">
                                <div>Customer Experience</div>
                                <div><i v-bind:class="[{'far fa-plus-square':!CEToggle}, 'far fa-minus-square']" v-on:click="CEToggle = !CEToggle"></i></div>
                            </div>
                        </div>
                        <div class="message-body" v-show="CEToggle === true">
                            {{ticketData.ce}}
                        </div>
                    </div>

                    <div class="message is-info" v-show="ticketData.type === 'outage' || type === 'closed'">
                        <div class="message-header" v-bind:class="[{'border-radius-4':!ICToggle}, '']">
                            <div class="header-level">
                                <div>Impact Counts</div>
                                <div><i v-bind:class="[{'far fa-plus-square':!ICToggle}, 'far fa-minus-square']" v-on:click="ICToggle = !ICToggle"></i></div>
                            </div>
                        </div>
                        <div class="message-body grid-2" v-show="ICToggle === true">
                            <div v-for="item in ticketData.impact" v-bind:key="item.field">
                                <b>{{item.field}}:</b> {{item.counts}}
                            </div>
                        </div>
                    </div>

                    <div class="message is-info">
                        <div class="message-header" v-bind:class="[{'border-radius-4':!TIToggle}, '']">
                            <div class="header-level">
                                <div>Ticket Information</div>
                                <div><i v-bind:class="[{'far fa-plus-square':!TIToggle}, 'far fa-minus-square']" v-on:click="TIToggle = !TIToggle"></i></div>
                            </div>
                        </div>
                        <div class="message-body grid-2" v-show="TIToggle === true">
                            <div><b>Type:</b> {{ticketData.ciutype}}</div>
                            <div><b>Status:</b> {{ticketData.status}}</div>
                            <div><b>Market:</b> {{ticketData.market}}</div>
                            <div><b>Submitter:</b> {{ticketData.sub}}</div>
                            <div><b>Last Updated By:</b> {{ticketData.last_sub}}</div>
                        </div>
                    </div>

                    <div class="message is-info">
                        <div class="message-header" v-bind:class="[{'border-radius-4':!TechToggle}, '']">
                            <div class="header-level">
                                <div>Technicals</div>
                                <div><i v-bind:class="[{'far fa-plus-square':!TechToggle}, 'far fa-minus-square']" v-on:click="TechToggle = !TechToggle"></i></div>
                            </div>
                        </div>
                        <div class="message-body grid-2" v-show="TechToggle === true">
                            <div><b>Reported Date:</b> {{ticketData.reported}}</div>
                            <div><b>Duration:</b> {{ticketData.dur}}</div>
                            <div><b>Last Update:</b> {{ticketData.last}}</div>
                            <div v-if="type != 'closed'"><b>Next Update:</b> {{ticketData.next}} <span v-if="perm > 0">({{ticketData.due}})</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
</template>

<script>
let TicketTimeline = httpVueLoader('./TicketTimeline.vue')
let LoadingScreen = httpVueLoader('./LoadingScreen.vue')
let EscalationDetails = httpVueLoader('./EscalationDetails.vue')

module.exports = {
    name: 'TicketDetails',
    props: {
        user: String,
        perm: Number,
        ticket: String,
        loading: Boolean,
        force: Boolean,
        type: String
    },
    data: function() {
        return {
            showTimeline: false,
            showTicketAll: true,
            CEToggle: true,
            ICToggle: true,
            showEscalation: false,
            TIToggle: true,
            TechToggle: true,
            LUToggle: true,
            RESToggle: true,
            isLoading: false,
            error: false,
            ticketRemoved: false,
            incSummary: '',
            errorText: '',
            ticketData: []
        }
    },
    methods: {
        displayEscalation() {
            this.showTicketAll = false
            this.showEscalation = true
            this.$emit('esc')
        },
        displayTimeline() {
            this.showTicketAll = false
            this.showTimeline = true
        },
        showTicketNow() {
            if(this.showEscalation) {
                this.$emit('esc')
            }

            this.showTimeline = false
            this.showEscalation = false
            this.showTicketAll = true
        },
        updateDetails() {
            this.error = false
            this.ticketRemoved = false

            let params = {
                action: 'loadTicketDetails',
                ticket: this.$props.ticket,
                type: this.$props.type
            }

            postData(params)
                .then(data => {
                    if(data === 'resolved') {
                        this.errorText = 'Sorry, the ticket you were looking at is no longer active.'
                        this.error = true
                    } else {
                        this.ticketData = data
                        this.incSummary = data.sum
                    }
                })
        },
        handleUpdate() {
            this.$emit('updated')
        },
        removeTicket() {
            if(this.$props.perm > 0) {
                let c = confirm('Are you sure you want to remove '+this.$props.ticket+' from the Whiteboard?')

                if(c) {
                    let params = {
                        action: 'removeTicket',
                        ticket: this.$props.ticket
                    }

                    postData(params)
                        .then(data => {
                            if(data === 'ok') {
                                this.$emit('refresh')
                                this.ticketRemoved = true
                                this.ticketData = ''
                            } else {
                                alert('Something went wrong. Please try again or contact NOC Tools.')
                            }
                        })
                }
            }
        }
    },
    watch: {
        ticket: function(val) {
            if(val === '') {
                this.errorText = 'No tickets loaded.'
                this.error = true
                this.showTimeline = false
                this.showEscalation = false
            } else {
                this.error = false
                this.updateDetails()
                this.showTicketAll = (this.showTimeline === true) ? false:true
            }
        },
        force: function(newVal, oldVal) {
            if(newVal === true && this.ticketRemoved === false) {
                this.updateDetails()
            }
        }
    },
    computed: {
        remedyLink: function() {
            return 'http://remedy.mediacomcorp.com/arsys/servlet/ViewFormServlet?form=HPD%3aHelp%20Desk&server=arprod&qual=%271000000161%27=%22'+this.$props.ticket+'%22'
        }
    },
    components: {
        'ticket-timeline': TicketTimeline,
        'loading-screen': LoadingScreen,
        'escalation-details': EscalationDetails
    }
}
</script>

<style>
.right-column {
    height: 100%; 
    padding-top: 33px;
    border-left: 2px solid #dbdbdb;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 5px;
}
.message {
    font-size: .9em;
}
.ticket-data {
    height: calc(100vh - 210px); 
    overflow: auto; 
    margin-top: 15px;
    padding: 5px;
}
.header-level {
    display: flex;
    justify-content: space-between;
}
.header-level i {
    font-size: 1.2em;
}
.header-level i:hover {
    cursor: pointer;
}
.message-header {
    display: block !important;
}
.border-radius-4 {
    border-radius: 4px;
}
.error-screen {
    text-align: center;
    padding-top: 10rem;
    background: white;
    height: 100%;
}
</style>