<!--
    Name:           TicketTimeline.vue 
    Purpose:        Displays INC ticket status timeline for open or closed tickets
    Last Updated:   10/13/2021
    Used In:        ActiveOutages.vue, ClosedOutages.vue
-->
<template>
    <div v-if="show" class="main-wrapper">
        <div class="level is-marginless">
            <div class="level-left">
                <div class="level-item is-size-5"><b>Timeline - {{ticket}}</b></div>
            </div> 
            <div class="level-right">
                <div class="buttons are-small level-item"> 
                    <button @click="closeTimeline()" class="button is-danger is-light protip" data-pt-scheme="blue" data-pt-position="top" data-pt-title="Close Timeline" data-pt-classes="is-size-7"><span class="icon"><i class="fas fa-times"></i></span></button>
                </div>
            </div>
        </div>
        <div class="is-size-6 has-text-grey" style="margin: 5px 0;">{{summary}}</div>
        <hr>
        <div v-show="error" class="error-screen">
            <div class="is-size-5"><i class="far fa-frown has-text-danger"></i>&nbsp;&nbsp;No timeline data found for this ticket</div>
        </div>
        <div v-show="!error" class="timeline-wrapper">
            <div>
                <div class="timeline">
                    <div class="timeline-container" v-for="update in timelineData" :key="update.sort" v-bind:class="update.class">
                        <div class="timeline-icon">
                            <i v-bind:class="update.icon"></i>
                        </div>
                        <div class="timeline-body">
                            <h4 class="timeline-title"><span class="badge">{{update.title}}</span></h4>
                            <p v-if="!update.link">{{update.note}}</p>
                            <p v-else><a class="has-underline" v-bind:href="update.link" target="_blank">{{update.note}}</a></p>
                            <p class="timeline-subtitle">{{update.sub}} by {{update.sub_by}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
module.exports = {
    name: 'TicketTimeline',
    props: {
        show: Boolean,
        ticket: String,
        summary: String,
        force: Boolean
    },
    data: function() {
        return {
            timelineData: [],
            error: false
        }
    },
    methods: {
        closeTimeline() {
            this.$emit('close')
            this.timelineData = []
        },
        updateTimeline() {
            let self = this
            let params = {
                action: 'getTimeline',
                ticket: this.$props.ticket
            }
            this.error = false

            postData(params)
                .then(data => {
                    self.timelineData = data

                    if(data.length === 0) {
                        self.error = true
                    }

                    if(self.$props.force) {
                        self.$emit('update')
                    }
                })
        }
    },
    watch: {
        show: function(newVal, oldVal) {
            if(newVal === true) {
                this.updateTimeline()
            }
        },
        force: function(newVal, oldval) {
            if(this.$props.show === true && newVal === true) {
                this.updateTimeline()
            } else {
                this.$emit('update')
            }
        },
        ticket: function() {
            this.updateTimeline()
        }
    }
}
</script>

<style scoped>
.main-wrapper {
    background: white;
    z-index: 1000;
}
.timeline-wrapper {
    overflow: auto;
    height: calc(100vh - 210px); 
    padding: 5px;
    margin-top: 15px;
}
.has-underline {
    text-decoration: underline !important;
}
.error-screen {
    text-align: center;
    padding-top: 10rem;
    background: white;
    height: 100%;
}
</style>